@model CarFormViewModel

@{
    ViewBag.Title = "Add car to your profile";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
	    <form asp-action="Add" method="post">
		    @Html.AntiForgeryToken()
		    <div class="mb-3">
			    <label asp-for="@Model.MakeId" class="form-label-add-edit text-primary-emphasis">Make</label>
			    <select asp-for="@Model.MakeId" class="form-control" aria-required="true">
				    <option disabled selected value="">Select a car brand</option>
				    @foreach (var make in Model.Makes)
				    {
					    <option value="@make.Id">@make.Name</option>
				    }
			    </select>
			    <span asp-validation-for="@Model.MakeId" class="text-danger"></span>
		    </div>
		    <div class="row">
			    <div class="col">
				    <label asp-for="@Model.Model" class="form-label-add-edit text-primary-emphasis">Model</label>
				    <input asp-for="@Model.Model" class="form-control" aria-required="true" placeholder="Enter model"/>
				    <span asp-validation-for="@Model.Model" class="text-danger"></span>
			    </div>
			    <div class="col">
				    <label asp-for="@Model.ProductionDate" class="form-label-add-edit text-primary-emphasis">Production Date</label>
				    <input asp-for="@Model.ProductionDate" class="form-control" aria-required="true" placeholder="Enter date of production"/>
				    <span asp-validation-for="ProductionDate" class="text-danger"></span>
			    </div>
		    </div>
		    <div class="mb-3">
			    <label asp-for="@Model.VIN" class="form-label-add-edit text-primary-emphasis">VIN</label>
			    <input asp-for="@Model.VIN" class="form-control" aria-required="true" placeholder="Enter VIN number"/>
			    <span asp-validation-for="@Model.VIN" class="text-danger"></span>
		    </div>
		    <div class="mb-3">
			    <input class="btn btn-success mb-2 w-100 p-3 fw-bold" type="submit" value="Add"/>
		    </div>
	    </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}