@model IEnumerable<ReservationsViewModel>

@foreach (var reservation in Model)
{
    <div class="card" style="width: 20rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><span class="fw-bold">Description: </span>  @reservation.Description</li>
            <li class="list-group-item"><span class="fw-bold">Date: </span>  @reservation.ReservationDateTime</li>
            <li class="list-group-item"><span class="fw-bold">Location: </span>  @reservation.RepairShopLocation</li>
            <li class="list-group-item"><span class="fw-bold">Service Type: </span>  @reservation.ServiceType</li>
            @if (User.IsInRole("Admin"))
            {
                <li class="list-group-item"><span class="fw-bold">Client: </span>  @reservation.OwnerName</li>
            }
            @if (User.IsInRole("Owner") && reservation.StatusId == 1)
            {
                <a asp-controller="Owner" asp-action="FinishService" asp-route-id="@reservation.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Finish Service</a>
            }
            @if (User.IsInRole("Customer") && reservation.StatusId == 1)
            {
                <a asp-controller="Reservation" asp-action="Cancel" asp-route-id="@reservation.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Cancel reservation</a>
            }
        </ul>
    </div>
}
